@import "tailwindcss";

@theme {
  /* Couleurs extraites du logo */
  --color-ardalos-dark: #333333;
  /* Gris bannières */
  --color-ardalos-gray: #666666;
  /* Gris silhouettes */
  --color-ardalos-green: #00C853;
  /* Vert vif (Action) */
  --color-ardalos-leaf: #3CB371;
  /* Vert moyen (Livre) */
  --color-ardalos-light: #F9F9F9;
  /* Fond */

  /* Polices */
  --font-title: var(--font-montserrat);
  --font-body: var(--font-open-sans);
}

/* Styles globaux de base */
:root {
  --background: #ffffff;
  --foreground: var(--color-ardalos-dark);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
}